clearml.conf
MISC.txt

*.pt
.ipynb_checkpoints/**
**/.ipynb_checkpoints/**

*tmp
.vscode/**

images_out/**
videos/**
runs/**
models/**
backup/**
outputs/**

AdaBins/**
CLIP/**
GMA/**
taming-transformers/**